a{
	color: white;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
body{
	background: url(../img/background.jpg) no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	font-family: 'Overpass Mono', monospace;
}
h1, h2{
	background: white;
}
.fb, .tw, .gg{
	color: white;
	cursor: pointer;
	font-weight: bold;
	padding: 20px;
}
.fb{
	background: #627AAD;
}
.fb:hover{
	background: #3b5998;
}
.tw{
	background: #55ACEE;
}
.tw:hover{
	background: #1B95E0;
}
.gg{
	background: #d07b70;
}
.gg:hover{
	background: #c97267;
}